/* Main */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    background: rgb(20, 20, 20);
    cursor: none;
}
  
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 50px 15vw;
    font-size: 20px;
}

.text-effect1 {
    color: white;
}

.gradient {
    background: linear-gradient(to bottom,  #00c9ff 0%,#92fe9d 100%);
    background-clip: text;
    color: transparent;
    background-size: 300%;
    background-position: left;
    animation: bg-animation 3s infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

#trailer {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;

    opacity: 0;
    transition: opacity 500ms ease;
    pointer-events: none !important;
}

.interactable {

}

body:hover > #trailer {
    opacity: 1;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(10%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
